body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

input, select {
  padding: 0.1rem 0.5rem;
}

p {
  margin: 0;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
}

.form-row label, .data-label {
  width: 15%;
}

.form {
}

.form-submission {
  display: flex;
  justify-content: flex-end;
}

.form-submission button {
  margin: 0 0 0 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  justify-items: end;
  border: rgba(0, 0, 0, 0%) 1px solid;
}
.form-submission button:hover {
  border: #000000 1px solid;
}

.submit-button {
  background-color: blue;
  color: white;
}

.reset-button {
  background-color: #d6d6d6;
}

.choices {
  display: flex;
  flex-direction: row;
}

.choice {
  margin: 0 1rem 0 0;
}
